/*Assign main colors variables to resuse and interchange easily*/
:root {
    --primary-color: #D4E3CA;
    --secondary-color: #86937D  ;
    --tertiary-color: #30362C;
    --quaternary-color: #586053;
}

/* For mobile phones and mobile first design*/
@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        color: var(--quaternary-color);
        /*Assigns a font and a back-up font if the first isn't supported by the browser*/
        font-family: "Inter", sans-serif;
    }
    
    header {
        background-color: var(--primary-color);
        padding: 20px 35px;
        /* Allows for header elements to appear side by side & wrap around as the screen size shrinks */
        display: flex;
        flex-wrap: wrap-reverse;
        /*Justifies header sections to the left & right side of the page*/
        justify-content: space-between;
        align-items: center;
    }
    
    header a {
        /*Removes default styling for links*/
        text-decoration: none;
        color: var(--quaternary-color);
    }
    
    header h1 {
        font-weight: bold;
        font-size: 36px;
        color: var(--tertiary-color);
    }
    
    /* Remove default list styling*/
    header nav ul {
        list-style: none;
    }

    header nav ul li {
        padding: 10px;
        text-align: center;
    }

    .bio-section {
        background-color: var(--primary-color);
        /*Flex-wrap is allowing the bio-text to wrap around under the bio-img*/
        display: flex;
        flex-wrap: wrap;
    }

    /* Width of img will take up 100% of screen*/
    .bio-section img {
        max-width: 100%;
    }

    .bio-text {
        margin: 7px 7px 14px 7px;
        /*Center aligns the Bio text section*/
        text-align:center;
    }

    .bio-text h2 {
        padding: 7px;
        color: var(--tertiary-color);
    }

    .bio-text p {
        padding: 7px;
    }

    .project-section {
        padding: 7px 0;
        background-color: var(--primary-color);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-section h2 {
        color: var(--tertiary-color);
        padding: 0 7px 7px 7px;
        align-items: center;
    }

    .other-examples article {
        padding: 10px;
        display: flex;
        display: flex-wrap;
        justify-content: space-around;
        align-items: center;
    }

    .other-examples article img {
        max-width: 50%;
    }

    .run-buddy {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }

    .run-buddy img {
        max-width: 70%;
    }


    .reach-me-section {
        background-color: var(--primary-color);
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: center;
        padding: 25px 30px
    }

    .reach-me-section h2 {
        color: var(--tertiary-color);
        text-align: center;
    }

    .reach-me-section a {
        text-decoration: none;
        color: var(--quaternary-color);
    }

    .reach-me-section ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    .reach-me-section ul li {
        padding: 5px 20px;
    }

}

@media only screen and (min-width: 600px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        color: var(--quaternary-color);
        /*Assigns a font and a back-up font if the first isn't supported by the browser*/
        font-family: "Inter", sans-serif;
    }
    
    header {
        background-color: var(--primary-color);
        padding: 20px 35px;
        /* Allows for header elements to appear side by side & wrap around as the screen size shrinks */
        display: flex;
        flex-wrap: wrap-reverse;
        /*Justifies header sections to the left & right side of the page*/
        justify-content: space-between;
        align-items: center;
    }
    
    header a {
        /*Removes default styling for links*/
        text-decoration: none;
        color: var(--quaternary-color);
    }
    
    header h1 {
        font-weight: bold;
        font-size: 36px;
        color: var(--tertiary-color);
    }
    
    /* Remove default list styling*/
    header nav ul {
        list-style: none;
    }

    header nav ul li {
        padding: 10px;
        text-align: center;
    }

    .bio-section {
        background-color: var(--primary-color);
        /*Flex-wrap is allowing the bio-text to wrap around under the bio-img*/
        display: flex;
        flex-wrap: wrap;
    }

    /* Width of img will take up 100% of screen*/
    .bio-section img {
        max-width: 100%;
    }

    .bio-text {
        margin: 7px 7px 14px 7px;
        /*Center aligns the Bio text section*/
        text-align:center;
    }

    .bio-text h2 {
        padding: 7px;
        color: var(--tertiary-color);
    }

    .bio-text p {
        padding: 7px;
    }

    .project-section {
        padding: 7px 0;
        background-color: var(--primary-color);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-section h2 {
        color: var(--tertiary-color);
        padding: 0 7px 7px 7px;
        align-items: center;
    }

    .other-examples article {
        padding: 10px;
        display: flex;
        display: flex-wrap;
        justify-content: space-around;
        align-items: center;
    }

    .other-examples article img {
        max-width: 50%;
    }

    .run-buddy {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }

    .run-buddy img {
        max-width: 70%;
    }


    .reach-me-section {
        background-color: var(--primary-color);
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: center;
        padding: 25px 30px
    }

    .reach-me-section h2 {
        color: var(--tertiary-color);
        text-align: center;
    }

    .reach-me-section a {
        text-decoration: none;
        color: var(--quaternary-color);
    }

    .reach-me-section ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    .reach-me-section ul li {
        padding: 5px 20px;
    }

}

@media only screen and (min-width: 768px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        color: var(--quaternary-color);
        /*Assigns a font and a back-up font if the first isn't supported by the browser*/
        font-family: "Inter", sans-serif;
    }
    
    header {
        background-color: var(--primary-color);
        padding: 20px 35px;
        /* Allows for header elements to appear side by side & wrap around as the screen size shrinks */
        display: flex;
        flex-wrap: wrap-reverse;
        /*Justifies header sections to the left & right side of the page*/
        justify-content: space-between;
        align-items: center;
    }
    
    header a {
        /*Removes default styling for links*/
        text-decoration: none;
        color: var(--quaternary-color);
    }
    
    header h1 {
        font-weight: bold;
        font-size: 36px;
        color: var(--tertiary-color);
    }
    
    /* Remove default list styling*/
    header nav ul {
        list-style: none;
    }

    header nav ul li {
        padding: 10px;
        text-align: center;
    }

    .bio-section {
        background-color: var(--primary-color);
        /*Flex-wrap is allowing the bio-text to wrap around under the bio-img*/
        display: flex;
        flex-wrap: wrap;
    }

    /* Width of img will take up 100% of screen*/
    .bio-section img {
        max-width: 100%;
    }

    .bio-text {
        margin: 7px 7px 14px 7px;
        /*Center aligns the Bio text section*/
        text-align:center;
    }

    .bio-text h2 {
        padding: 7px;
        color: var(--tertiary-color);
    }

    .bio-text p {
        padding: 7px;
    }

    .project-section {
        padding: 7px 0;
        background-color: var(--primary-color);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-section h2 {
        color: var(--tertiary-color);
        padding: 0 7px 7px 7px;
        align-items: center;
    }

    .other-examples article {
        padding: 10px;
        display: flex;
        display: flex-wrap;
        justify-content: space-around;
        align-items: center;
    }

    .other-examples article img {
        max-width: 50%;
    }

    .run-buddy {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }

    .run-buddy img {
        max-width: 70%;
    }


    .reach-me-section {
        background-color: var(--primary-color);
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: center;
        padding: 25px 30px
    }

    .reach-me-section h2 {
        color: var(--tertiary-color);
        text-align: center;
    }

    .reach-me-section a {
        text-decoration: none;
        color: var(--quaternary-color);
    }

    .reach-me-section ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    .reach-me-section ul li {
        padding: 5px 20px;
    }

}

@media only screen and (min-width: 980px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        color: var(--quaternary-color);
        /*Assigns a font and a back-up font if the first isn't supported by the browser*/
        font-family: "Inter", sans-serif;
    }
    
    header {
        background-color: var(--primary-color);
        padding: 20px 35px;
        /* Allows for header elements to appear side by side & wrap around as the screen size shrinks */
        display: flex;
        flex-wrap: wrap-reverse;
        /*Justifies header sections to the left & right side of the page*/
        justify-content: space-between;
        align-items: center;
    }
    
    header a {
        /*Removes default styling for links*/
        text-decoration: none;
        color: var(--quaternary-color);
    }
    
    header h1 {
        font-weight: bold;
        font-size: 36px;
        color: var(--tertiary-color);
    }
    
    /* Remove default list styling*/
    header nav ul {
        list-style: none;
    }

    header nav ul li {
        padding: 10px;
        text-align: center;
    }

    .bio-section {
        background-color: var(--primary-color);
        /*Flex-wrap is allowing the bio-text to wrap around under the bio-img*/
        display: flex;
        flex-wrap: wrap;
    }

    /* Width of img will take up 100% of screen*/
    .bio-section img {
        max-width: 100%;
    }

    .bio-text {
        margin: 7px 7px 14px 7px;
        /*Center aligns the Bio text section*/
        text-align:center;
    }

    .bio-text h2 {
        padding: 7px;
        color: var(--tertiary-color);
    }

    .bio-text p {
        padding: 7px;
    }

    .project-section {
        padding: 7px 0;
        background-color: var(--primary-color);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-section h2 {
        color: var(--tertiary-color);
        padding: 0 7px 7px 7px;
        align-items: center;
    }

    .other-examples article {
        padding: 10px;
        display: flex;
        display: flex-wrap;
        justify-content: space-around;
        align-items: center;
    }

    .other-examples article img {
        max-width: 50%;
    }

    .run-buddy {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }

    .run-buddy img {
        max-width: 70%;
    }


    .reach-me-section {
        background-color: var(--primary-color);
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: center;
        padding: 25px 30px
    }

    .reach-me-section h2 {
        color: var(--tertiary-color);
        text-align: center;
    }

    .reach-me-section a {
        text-decoration: none;
        color: var(--quaternary-color);
    }

    .reach-me-section ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    .reach-me-section ul li {
        padding: 5px 20px;
    }

}
